<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>

<body>
    <h1>Student Dashboard</h1>

    <div class="student-info">
        <p><strong>Name:</strong> {{ student.Stud_name }}</p>
        <p><strong>ID:</strong> {{ student.Stud_ID }}</p>
        <p><strong>NRIC Number:</strong> {{ student.NRIC_Number }}</p>
        <p><strong>Gender:</strong> {{ student.Gender }}</p>
        <p><strong>Programme of Study:</strong> {{ student.Programme_of_Study }}</p>
        <p><strong>CGPA:</strong> {{ student.CGPA }}</p>
        <p><strong>TARUMT Email:</strong> {{ student.TARUMT_emailAddress }}</p>
        <p><strong>Mobile Number:</strong> {{ student.Mobile_number }}</p>
        <p><strong>Intern Batch:</strong> {{ student.Intern_batch }}</p>
        <p><strong>Home Address:</strong> {{ student.Home_Address }}</p>
        <p><strong>Personal Email:</strong> {{ student.Personal_emailAddress }}</p>
    </div>

    <a href="student_edit_profile.html">Edit Profile</a>
    <a href="upload_resume.html">Upload Resume</a>
</body>

</html>
